<% if resource.errors.any? %>
  <div id="error_explanation">
    <% resource.errors.full_messages.each do |message| %>
    <div class="row">
      <div class="col-md-8 col-10 row p-1 my-1 mx-auto alert alert-danger">
        <%= message %>
      </div>
    </div>
    <% end %>
  </div>
<% end %>
