<div>
  <div class="row"><h1 class="mx-auto my-2">Who summons me?</h1></div>
  <div class="row"><p class="mx-auto my-2">Terrible one who commands me!</p></div>

  <%= render "form", submit_text: "I want to meet Virtual Genie!" %>
</div>
